@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@100;300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@300;400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

img {
    max-width: 100%;
    /* display: block; */
}

p {
    opacity: .5;
    font-size: .9rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
}
/* .col {
    width: 100%;
} */

.menu {
    display: none;
}

nav {
    margin: 2rem 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: hsl(0, 94%, 66%);
}

nav li {
    list-style: none;
    margin-left: 3.5em;
    font-size: .7rem;
    font-weight: 500;
}

nav .nav-btn {
    background-color: hsl(0, 94%, 66%);
    padding: .7em 1.5em;
    border-radius: 3px;
    color: white;
}

nav .nav-btn:hover {
    border: 2px solid hsl(0, 94%, 66%);
    background-color: white;
    color: hsl(0, 94%, 66%);
}

.hero-section {
    margin: 0 auto;
    margin-bottom: 100px;
}

.hero__text {
    width: 40%;
    align-self: center
}

/* .blue {
	position: absolute;
    left: 850px;
    z-index: 9;
}

.hero1 {
	position: absolute;
    z-index: 12;
    left: 650px;
    top: 100px;
    width: min(40%, 100%);
} */

.hero p{
   margin: 2.5rem 0;
}

.hero_blue_btn, .hero_gray_btn{
    text-decoration: none;
    padding: .5em 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 3px;
}

.hero_blue_btn {
    margin-right: .5rem;
    background-color:  hsl(231, 69%, 60%);
    color: white;
}

.hero_gray_btn {
    color: black;
    background-color: rgb(231, 231, 231);
}

.features__intro__text {
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
}

.features__text_p {
    margin-bottom: 30px;
}

.features__navigation p {
    padding-bottom: 1.5rem;
    margin-bottom: -.5rem;
}

.features__tab {
    margin: 3.5rem 0;
    align-items: center;
    margin-bottom: 8rem;
}

.features__tab__img {
    width: 60%;
}

.features__tab__text {
    width: 40%;
    max-width: 25rem;
}

.features__tab__btn {
    padding: .8em 1.8em;
    margin-right: .5rem;
    border: none;
    background-color:  hsl(231, 69%, 60%);
    border-radius: 3px;
    color: white;
}

.download__intro__text {
    text-align: center;
    max-width: 31.25rem;
    margin: 0 auto;
}

.browser-row {
    max-width: 900px;
    margin: 3rem auto;
    gap: 30px;
    margin-bottom: 150px;
}

.extensions {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 2rem 0;
    border-radius: 8px;
}

.extension__btn {
    padding: .8em 1.8em;
    margin-top: 1rem;
    border: none;
    background-color:  hsl(231, 69%, 60%);
    border-radius: 3px;
    color: white;
}

.extension__btn:hover {
    background-color: white;
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
}

/* .chrom {
    align-self: flex-start;
}

.firefox {
    align-self:center;
}

.opera {
    margin-top: 80px;
    align-self: flex-end;
} */

.FAQ {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 180px;
}

.FAQ__intro__text {
    text-align: center;
}

.ancordion {
    margin: 3rem 0;
}

.q1, .q2, .q3, .q4{
    align-items: center;
}

.arrow-down {
    color: hsl(231, 69%, 60%);
}

.questions p {
    opacity: .99;
}

.faq_btn_div {
    text-align: center;
}

.FAQ__btn{
    padding: .8em 1.8em;
    margin-top: 2rem;
    border: none;
    background-color:  hsl(231, 69%, 60%);
    border-radius: 3px;
    color: white;
}

.stay_to_date {
    background-color:  hsl(231, 69%, 60%);
    padding: 3rem 0;
}

.stay_uptodate_content {
    /* width: 80%; */
    /* border: 1px solid red; */
    max-width: 450px;
    text-align: center;
    /* padding: 3.5rem; */
    color: white;
}

.stay_uptodate_content p {
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .9;
}

.email {
    padding: .5rem 2rem;
    border-radius: 3px;
    border: none;
    /* max-width: 80%; */
}

.contact_btn {
    background-color: hsl(0, 94%, 66%);
    padding: .7em 1.5em;
    border-radius: 3px;
    color: white;
    border: none;
}

.contact_btn:hover {
    background-color: white;
    color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
}

.footer {
    background-color: hsl(229, 31%, 21%);
    padding: 1.8rem 0;
    color: white;
}


.footer_nav {
    align-items: center;
    /* border: 2px solid hsl(0, 94%, 66%); */
    text-align: center;
}

.footer_bookmark_logo {
    background-color: hsl(231, 69%, 60%);
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-right: 5px;
}

.footer_logo_div {
    align-self: center;
    /* border: 1px solid white; */
}

.footer_nav a {
    text-decoration: none;
    color: white;
}

.footer_ul {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}

.footer_nav a:hover {
    color: hsl(0, 94%, 66%);
}

.footer_nav li {
    list-style: none;
    margin-left: 3.5em;
    font-size: .7rem;
    font-weight: 500;
}
.footer_icon {
    margin-left: 10px;
}

.footer_icon:hover {
    color: hsl(0, 94%, 66%);
}

.red {
    border-bottom: 5px solid red;
}

.popup-wrapper {
    background-color: hsl(229, 31%, 21%);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.popup {
    width: 100%;
    /* max-width: 700px; */
    color: white;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    text-align: center;
}

.popup-header {
    margin-bottom: 50px;
}

.nav-line {
    opacity: .5;
}

.cancel {
    font-weight: 600;
    font-size: 30px;
}
.popup_logo_div span{
   margin-left: 35px;
   font-size: 25px;
   font-weight: 600;
}

.popup_bookmark_logo {
    background-color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    color: hsl(229, 31%, 21%);
    margin-left: 35px;
    margin-right: 5px;
}

.popup a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 2px;
}

.popup-list {
    list-style: none;
    padding: 1.5rem 0;
}

.popup-login {
    border: 3px solid white;
    margin-top: 40px;
    border-radius: 5px;
}

.popup-icon {
    margin-right: 15px;
    margin-top: 80px;
    font-size: 20px;
}

@media (max-width: 42.375rem) {
    .hero-section,
    .features__tab,
    .browser-row {
        flex-direction: column;
    }

    .nava ul {
        display: none;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    .hero__text {
        text-align: center;
        width: 100%;
    }

    .hero__img {
        margin-top: 2rem;
    }

    .menu {
        display: block;
    }

    .hero_blue_btn {
        padding: .5em;
        margin-right: .5rem;
        font-size: small;
    }
    
    .hero_gray_btn {
        padding: .5em;
        font-size: small;
    }

    .feature__tab__img {
        margin-bottom: 1.2rem;
    }

    .features__tab__text {
        text-align: center;
        width: 100%;
    }

    .extensions + .extensions {
        margin-top: 1rem;
    }
    
    .footer_nav {
        display: block;
        text-align: center;
    }

    .footer_logo_div {
        text-align: center;
    }

    .footer_nav ul {
        display: block;
    }
    
    .footer_nav a:hover {
        color: hsl(0, 94%, 66%);
    }
    
    .footer_nav li {
        margin-left: -1.8rem;
        margin-top: .5rem;
        font-size: .7rem;
        font-weight: 500;
    }
}

@media (max-width: 315px) {
    .hero-btns {
        display: flex;
        flex-direction: column;
    }

    .hero_blue_btn{
        margin-bottom: 15px;
    }
}
